# Embeddings and data files
country_embeddings_dump.json
product_embeddings_dump.json
*.parquet
*.npy

# All .DS_Store files
.DS_Store

# Node related setup
node_modules/

# Every CSV starting with BACI_
BACI_*.csv